body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main, header, footer {
  padding: 4px;
}

header, footer {
  font-family: monospace;
  font-size: 24px;
  background: #f00;
  color: #fff;
}

main {
  font-family: sans-serif;
  display: flex;
  flex: 1;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 125px;
  margin-right: 8px;
}

aside > a {
  background: #08f;
  text-decoration: none;
  padding: 4px;
}

aside > a:not(:first-of-type) {
  margin-top: 6px;
}

article {
  flex: 6;
  overflow-y: scroll;
}

article > p:first-child {
  margin-top: 0;
}

#modal-trigger {
  box-shadow: 2px 2px 12px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: orange;
  color: white;
  font-weight: 500;
  font-size: 28px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  right: 12px;
  bottom: 12px;
}

#modal {
  box-shadow: 0 2px 24px -2px black;
  background: red;
  color: white;
  position: fixed;
  z-index: 1000;
  width: 40vw;
  min-width: 480px;
  padding: 12px;
  top: 50vh;
  left: 50vw;
  transform: translate(100vw, 100vh);
  transition: transform 0.4s ease-in-out;
}

#modal.active {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%)
}