body {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  margin: 0;
  margin-top: 64px;
}

header {
  top: 0;
  left: 24px;
  right: 24px;
  position: fixed;
  background: slategray;
  padding: 0 8px 4px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 6px 24px -2px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > .logo {
  flex: 1;
  font-size: 36px;
}

header > nav {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
  align-items: center;
  justify-content: space-between;
}

header > nav > div:not(:first-child) {
  margin-left: 12px;
  border-left: 1px solid black;
  padding-left: 12px;
}

main {
  margin: 0 16px;
}

main > p:nth-child(5) {
  top: 24px;
  left: 400px;
  position: relative;
  background: lightgreen;
}

main > p:nth-child(5) > span {
  bottom: 0;
  position: absolute;
  background: blue;
}