form {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.form-set {
  display: flex;
  flex-direction: row;
}

.form-set label {
  font-family: sans-serif;
  align-self: flex-end;
  text-align: end;
  margin-right: 16px;
  flex: 0 0 120px;
}

input {
  flex: 1;
  outline: 0;
  padding: 4px 8px;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 24px;
}

input:focus {
  border-bottom: 1px dashed red;
}

button {
  text-transform: uppercase;
}